body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: rgb(203, 243, 203);
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.item-details {
    margin-left: 10px;
}

.quantity-control {
    display: flex;
    align-items: center;
}

.quantity-control button {
    margin: 0 5px;
}

.like-item {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: gray;
}

.like-item.liked {
    color: red;
}

.total-price {
    margin-top: 20px;
    font-size: 20px;
}
